In [1]:
import pandas as pd
import numpy as np

In [2]:
Eval = pd.read_csv("ICE2_data_eval.csv")
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [3]:
Eval = Eval.rename (columns={"library_facilities": "library_facility"})
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facility,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [4]:
Eval.columns

Index(['teaching', 'teaching.1', 'coursecontent', 'coursecontent.1',
       'examination', 'Examination', 'labwork', 'labwork.1',
       'library_facility', ' library_facilities', 'extracurricular',
       'extracurricular.1'],
      dtype='object')

## Data Cleaning and Wrangling

The first step of NLP often involves with data cleaning and data wrangling.

For example, the dataset has 185 rows and 12 columns, but the information is quite repetitive. So for the further analysis purposes, we can rearrange the data into a long format. Feel free to wrangle the data in any format or only use part of the data. This is just a practice ICE.

In [5]:
Teacher_table = Eval[['teaching', 'teaching.1']]
Teacher_table

     teaching                                         teaching.1
0           0  teacher are punctual but they should also give...
1           1                                              Good
2           1  Excellent lectures are delivered by teachers a...
3           1                                               Good
4           1  teachers give us all the information required ...
..        ...                                                ...
180         1  intraction is good and leacture delivery also ...
181         1  all the given terms are good regarding the uni...
182         1  All the terms are good regarding the universit...
183        -1  Some of the teacher are un experienced. Also t...
184         1                                   IT IS GOING GOOD

[185 rows x 2 columns]

In [6]:
Teacher_table_full = Teacher_table.assign(New_col = 'teaching')
Teacher_table_full

     teaching                                         teaching.1   New_col
0           0  teacher are punctual but they should also give...  teaching
1           1                                              Good   teaching
2           1  Excellent lectures are delivered by teachers a...  teaching
3           1                                               Good  teaching
4           1  teachers give us all the information required ...  teaching
..        ...                                                ...       ...
180         1  intraction is good and leacture delivery also ...  teaching
181         1  all the given terms are good regarding the uni...  teaching
182         1  All the terms are good regarding the universit...  teaching
183        -1  Some of the teacher are un experienced. Also t...  teaching
184         1                                   IT IS GOING GOOD  teaching

[185 rows x 3 columns]

In [7]:
Teacher_table_full2 = Teacher_table_full.rename(columns={"teaching": "eval", "teaching.1": "comment", "New_col": "category"})
Teacher_table_full2

     eval                                            comment  category
0       0  teacher are punctual but they should also give...  teaching
1       1                                              Good   teaching
2       1  Excellent lectures are delivered by teachers a...  teaching
3       1                                               Good  teaching
4       1  teachers give us all the information required ...  teaching
..    ...                                                ...       ...
180     1  intraction is good and leacture delivery also ...  teaching
181     1  all the given terms are good regarding the uni...  teaching
182     1  All the terms are good regarding the universit...  teaching
183    -1  Some of the teacher are un experienced. Also t...  teaching
184     1                                   IT IS GOING GOOD  teaching

[185 rows x 3 columns]

In [8]:
coursecontent_table = Eval[['coursecontent', 'coursecontent.1']]
coursecontent_table

     coursecontent                                    coursecontent.1
0                0                     content of courses are average
1               -1                                           Not good
2                1  All courses material provide very good knowled...
3               -1  Content of course is perfectly in line with th...
4                1           content of courses improves my knowledge
..             ...                                                ...
180              0  every one can tell depth of course but some on...
181              1                  we are getting maximum knowledge
182              1  Knowledge is maximum gained  by reading books ...
183              0  Its fine but it should focus more towards prac...
184             -1                                    HAVE TO IMPROVE

[185 rows x 2 columns]

In [9]:
coursecontent_table_full = coursecontent_table.assign(New_col = 'coursecontent')
coursecontent_table_full

,coursecontent,coursecontent.1,New_col
0,0,content of courses are average,coursecontent
1,-1,Not good,coursecontent
2,1,All courses material provide very good knowled...,coursecontent
3,-1,Content of course is perfectly in line with th...,coursecontent
4,1,content of courses improves my knowledge,coursecontent
...,...,...,...
180,0,every one can tell depth of course but some on...,coursecontent
181,1,we are getting maximum knowledge,coursecontent
182,1,Knowledge is maximum gained by reading books ...,coursecontent
183,0,Its fine but it should focus more towards prac...,coursecontent
184,-1,HAVE TO IMPROVE,coursecontent

In [10]:
coursecontent_table_full2 = coursecontent_table_full.rename(columns={"coursecontent": "eval", "coursecontent.1": "comment", "New_col": "category"})

In [11]:
coursecontent_table_full2

     eval                                            comment       category
0       0                     content of courses are average  coursecontent
1      -1                                           Not good  coursecontent
2       1  All courses material provide very good knowled...  coursecontent
3      -1  Content of course is perfectly in line with th...  coursecontent
4       1           content of courses improves my knowledge  coursecontent
..    ...                                                ...            ...
180     0  every one can tell depth of course but some on...  coursecontent
181     1                  we are getting maximum knowledge   coursecontent
182     1  Knowledge is maximum gained  by reading books ...  coursecontent
183     0  Its fine but it should focus more towards prac...  coursecontent
184    -1                                    HAVE TO IMPROVE  coursecontent

[185 rows x 3 columns]

In [12]:
examination_table = Eval[['examination', 'Examination']]
examination_table

     examination                                        Examination
0              1                        examination pattern is good
1              1                                               Good
2              1  Exam pattern is up to the mark and the Cgpa de...
3             -1  Again the university tests students of their a...
4              1                        examination pattern is good
..           ...                                                ...
180            0  exam pattern is good and marks distribution is...
181            1                                      all are good
182            0  The examination pattern is good .But time is n...
183            1  MCQ pattern is quite good and efficient way fo...
184            0      PAPER CHECKING IS VERY HARD REMAINING IS GOOD

[185 rows x 2 columns]

In [13]:
examination_table_full = examination_table.assign(New_col = 'examination')
examination_table_full

,examination,Examination,New_col
0,1,examination pattern is good,examination
1,1,Good,examination
2,1,Exam pattern is up to the mark and the Cgpa de...,examination
3,-1,Again the university tests students of their a...,examination
4,1,examination pattern is good,examination
...,...,...,...
180,0,exam pattern is good and marks distribution is...,examination
181,1,all are good,examination
182,0,The examination pattern is good .But time is n...,examination
183,1,MCQ pattern is quite good and efficient way fo...,examination
184,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,examination

In [14]:
examination_table_full2 = examination_table_full.rename(columns={"examination": "eval", "Examination": "comment", "New_col": "category"})

In [15]:
examination_table_full2

     eval                                            comment     category
0       1                        examination pattern is good  examination
1       1                                               Good  examination
2       1  Exam pattern is up to the mark and the Cgpa de...  examination
3      -1  Again the university tests students of their a...  examination
4       1                        examination pattern is good  examination
..    ...                                                ...          ...
180     0  exam pattern is good and marks distribution is...  examination
181     1                                      all are good   examination
182     0  The examination pattern is good .But time is n...  examination
183     1  MCQ pattern is quite good and efficient way fo...  examination
184     0      PAPER CHECKING IS VERY HARD REMAINING IS GOOD  examination

[185 rows x 3 columns]

In [16]:
labwork_table = Eval[['labwork','labwork.1']]
labwork_table

     labwork                                          labwork.1
0         -1  not satisfactory, lab work must include latest...
1          1                                              Good
2          1  Lab work is properly covered in the labs by th...
3          1                                               Good
4          1  practical work provides detail knowledge of th...
..       ...                                                ...
180        1               all labs and practical going on well
181        1                                            not bad
182        1                            Labs are upto the mark.
183       -1              Our labs do not have all facalities.
184        1                         ALL PRACTICAL WORK IS GOOD

[185 rows x 2 columns]

In [17]:
labwork_table_full = labwork_table.assign(New_col = "labwork")
labwork_table_full

     labwork                                          labwork.1  New_col
0         -1  not satisfactory, lab work must include latest...  labwork
1          1                                              Good   labwork
2          1  Lab work is properly covered in the labs by th...  labwork
3          1                                               Good  labwork
4          1  practical work provides detail knowledge of th...  labwork
..       ...                                                ...      ...
180        1               all labs and practical going on well  labwork
181        1                                            not bad  labwork
182        1                            Labs are upto the mark.  labwork
183       -1              Our labs do not have all facalities.   labwork
184        1                         ALL PRACTICAL WORK IS GOOD  labwork

[185 rows x 3 columns]

In [18]:
labwork_table_full2 = labwork_table_full.rename(columns={"labwork": "eval", "labwork.1": "comment", "New_col": "category"})

In [19]:
labwork_table_full2

     eval                                            comment category
0      -1  not satisfactory, lab work must include latest...  labwork
1       1                                              Good   labwork
2       1  Lab work is properly covered in the labs by th...  labwork
3       1                                               Good  labwork
4       1  practical work provides detail knowledge of th...  labwork
..    ...                                                ...      ...
180     1               all labs and practical going on well  labwork
181     1                                            not bad  labwork
182     1                            Labs are upto the mark.  labwork
183    -1              Our labs do not have all facalities.   labwork
184     1                         ALL PRACTICAL WORK IS GOOD  labwork

[185 rows x 3 columns]

In [20]:
library_table = Eval[['library_facility', ' library_facilities']]
library_table

     library_facility                                 library_facilities
0                   0  library facilities are good but number of book...
1                  -1                                          Not good
2                   1  Library facilities are excellent in terms of g...
3                   0  Its the best thing i have seen in this univers...
4                   1  library has huge collection of books from diff...
..                ...                                                ...
180                 1                                              good
181                -1  library facilities are not good.They are not f...
182                 1                                      They are good
183                 1        We have a good library with all facalities.
184                -1                     THEY IS NO PROBLEM WITH THEM\n

[185 rows x 2 columns]

In [21]:
library_table_full = library_table.assign(New_col = "library_facilities")
library_table_full

,library_facility,library_facilities,New_col
0,0,library facilities are good but number of book...,library_facilities
1,-1,Not good,library_facilities
2,1,Library facilities are excellent in terms of g...,library_facilities
3,0,Its the best thing i have seen in this univers...,library_facilities
4,1,library has huge collection of books from diff...,library_facilities
...,...,...,...
180,1,good,library_facilities
181,-1,library facilities are not good.They are not f...,library_facilities
182,1,They are good,library_facilities
183,1,We have a good library with all facalities.,library_facilities
184,-1,THEY IS NO PROBLEM WITH THEM\n,library_facilities

In [22]:
library_table_full2 = library_table_full.rename(columns={"library_facility": "eval", " library_facilities": "comment", "New_col": "category"})

In [23]:
library_table_full2

,eval,comment,category
0,0,library facilities are good but number of book...,library_facilities
1,-1,Not good,library_facilities
2,1,Library facilities are excellent in terms of g...,library_facilities
3,0,Its the best thing i have seen in this univers...,library_facilities
4,1,library has huge collection of books from diff...,library_facilities
...,...,...,...
180,1,good,library_facilities
181,-1,library facilities are not good.They are not f...,library_facilities
182,1,They are good,library_facilities
183,1,We have a good library with all facalities.,library_facilities
184,-1,THEY IS NO PROBLEM WITH THEM\n,library_facilities

In [24]:
extracurricular_table = Eval[['extracurricular','extracurricular.1']]
extracurricular_table

     extracurricular                                  extracurricular.1
0                  1  extracurricular activities are excellent and p...
1                  1                                              Good
2                  1  Extra curricular activities also help students...
3                 -1  Complete wastage of time. Again this opinion i...
4                  1  extracurricular activities increases mental an...
..               ...                                                ...
180                1                         they all are held in super
181                1                                               good
182                1  the extracurricular activities held in univers...
183                1  Our university has lot of extracurricular goin...
184                1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

[185 rows x 2 columns]

In [25]:
extracurricular_table_full = extracurricular_table.assign(New_col = "extracurricular")
extracurricular_table_full

,extracurricular,extracurricular.1,New_col
0,1,extracurricular activities are excellent and p...,extracurricular
1,1,Good,extracurricular
2,1,Extra curricular activities also help students...,extracurricular
3,-1,Complete wastage of time. Again this opinion i...,extracurricular
4,1,extracurricular activities increases mental an...,extracurricular
...,...,...,...
180,1,they all are held in super,extracurricular
181,1,good,extracurricular
182,1,the extracurricular activities held in univers...,extracurricular
183,1,Our university has lot of extracurricular goin...,extracurricular
184,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT,extracurricular

In [26]:
extracurricular_table_full2 = extracurricular_table_full.rename(columns={"extracurricular": "eval", "extracurricular.1": "comment", "New_col": "category"})

In [27]:
extracurricular_table_full2

     eval                                            comment         category
0       1  extracurricular activities are excellent and p...  extracurricular
1       1                                              Good   extracurricular
2       1  Extra curricular activities also help students...  extracurricular
3      -1  Complete wastage of time. Again this opinion i...  extracurricular
4       1  extracurricular activities increases mental an...  extracurricular
..    ...                                                ...              ...
180     1                         they all are held in super  extracurricular
181     1                                               good  extracurricular
182     1  the extracurricular activities held in univers...  extracurricular
183     1  Our university has lot of extracurricular goin...  extracurricular
184     1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT  extracurricular

[185 rows x 3 columns]

In [28]:
evalClean = pd.concat([Teacher_table_full2, coursecontent_table_full2, examination_table_full2, labwork_table_full2, library_table_full2, extracurricular_table_full2  ], axis=0)

In [29]:
evalClean

     eval                                            comment         category
0       0  teacher are punctual but they should also give...         teaching
1       1                                              Good          teaching
2       1  Excellent lectures are delivered by teachers a...         teaching
3       1                                               Good         teaching
4       1  teachers give us all the information required ...         teaching
..    ...                                                ...              ...
180     1                         they all are held in super  extracurricular
181     1                                               good  extracurricular
182     1  the extracurricular activities held in univers...  extracurricular
183     1  Our university has lot of extracurricular goin...  extracurricular
184     1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT  extracurricular

[1110 rows x 3 columns]

Large part of the data cleaning in NLP is associated with presenting the data in a consistent format and removing words without substantial semantic meanings. So, common data cleaning methods you can do include: make text lowercase, remove formats (e.g., html labels), remove punctuation, and remove words containing numbers. Some of them are easy (e.g., make everything lowercase) while some of them might be trickier depending on how pretty your data is.
Anyway, for this particular example, let's just make all the text into lowercase, remove the punctunations, and remove the numbers. I am encapsulate the data cleaning all in one function called clean_text() and then map() this function to comment.
When removing the punctuation, you will often find regular expression or regex a very handy tool to use if you want to automate this process. In fact, regex will be a great addition to your toolbox not only for NLP tasks, but pretty much any Data Science job involves data cleaning. There are a lot of great resources to learn it (e.g., https://developers.google.com/edu/python/regular-expressions), but I suggest you mastering it as you use it. No need to spend a lot of time perfecting a complicated tool that you won't use regularly (yes, regex involves a lot of tricks and can get quite complicated).

In [30]:
# import the regex library
import re, string

In [31]:
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [32]:
evalClean['comment'] = evalClean['comment'].map(clean_text)
evalClean

     eval                                            comment         category
0       0  teacher are punctual but they should also give...         teaching
1       1                                              good          teaching
2       1  excellent lectures are delivered by teachers a...         teaching
3       1                                               good         teaching
4       1  teachers give us all the information required ...         teaching
..    ...                                                ...              ...
180     1                         they all are held in super  extracurricular
181     1                                               good  extracurricular
182     1  the extracurricular activities held in univers...  extracurricular
183     1  our university has lot of extracurricular goin...  extracurricular
184     1  it is the best thing in this university i like it  extracurricular

[1110 rows x 3 columns]

## Organizing Data

Now, the data is almost ready to be analyzed. But before that, there are two important concepts for text formats you need to know:
* Corpus: a collection of text
* Document-Term Matrix: word counts in matrix format

What we already have is a corpus. It is human-readable because it stores the data in a natural language style. However, For many of the techniques we'll be using, algorithms do not recognize our natural language. Particularly, the statistics tools we have been using/learning relies on processing quantifiable numbers.

As a result, we need to tokenize the text/corpus, meaning broken the text down into smaller pieces. The most common tokenization technique is to break down text into words. Essentially, we are taking a dictionary of words and mark the occurence frequency and/or the order of each word for each text in the corpus. Then we can represent a corpus in the quantitative (but not quite human-readable) way. And it is called Document-Term Matrix, where every row will represent a different document and every column will represent a different word.

You can imagine that once the documents get longer and complicated, we may be dealing with a very wide and sparse matrix, which is not ideal for any statistics modeling. Therefore, we have two more important concepts to help simplify the process

* Bag-of-words: We treat each document as a big bag of words. We don't necessarily care the orders of the words (i.e., grammar) at this stage. Just knowing the semantic meaning of each words can already tell us a lot. In fact, aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are.

* Stop words: They are a set of commonly used words in a language. Examples of stop words in English are “a”, “the”, “is”, “are” and etc. Stop words are so commonly used that they carry very little useful information. So getting rid of them might be a good idea.

Although the task can sound complicated, We can automate this using scikit-learn's CountVectorizer() to build a document-term matrix in a BOW style without the common stop words fairly easily.

n cv= CountVectorizer(), CountVectorizer() randomly assigns a number to each word in a process called tokenizing. Then, it counts the number of occurrences of words and saves it to cv. At this point, we’ve only assigned a method to cv.

In [33]:
# We are going to create a document-term matrix using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english') 

commentCV = cv.fit_transform(evalClean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalClean['comment'].index
commentCV_dtm

,abilities,ability,able,abroad,absolutely,absurd,abt,academic,accessable,accitivties,...,works,world,worth,write,writing,wrong,yeah,year,years,yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Stop_words means you want to remove the words with high occurance but with less meaning.

These numbers are the occurace of the word

stop_word = english is a build-in function, it set a list of stop words.

## Exploratory Analysis

As always, after building up our data, the next step is to take a look at the data and see what is going on here. First, it is worthwhile to check the distribution of the positive and negative comments.

In [34]:
evalClean.groupby(['eval','category']).count().unstack()

               comment                                                         \
category coursecontent examination extracurricular labwork library_facilities
eval
-1                  30          24              12      37                 31
 0                  27          31              19      16                 24
 1                 128         130             154     132                130


category teaching
eval
-1             13
 0             35
 1            137

Overall, the distribution is quite skewed across all six categories -- the majority of the comments are positive. This may cause us some trouble in creating the classifier.

Let's take a look at the document-term matrix. We can calculate the term frequency to get the most frequently used words in all documents. Below, we can find out the top 20 words.

In [35]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

good          654
excellent      74
students       62
university     61
library        48
books          47
course         43
pattern        40
lab            39
teachers       39
activities     37
knowledge      36
time           32
content        31
teaching       31
paper          30
checking       30
work           30
average        29
exam           29
dtype: int64

Further, we can calculate the inverse document frequency, which is the the number of times a word occurs in a corpus of documents. Combining the term frequency and the inverse document frequency (i.e., tf-idk), we can get a sense of how important each word is. Read more here:

* TF-IDF from scratch in python on a real-world dataset: https://towardsdatascience.com/tf-idf-for-document-ranking-from-scratch-in-python-on-real-world-dataset-796d339a4089#:~:text=TF%2DIDF%20stands%20for%20%E2%80%9CTerm,Information%20Retrieval%20and%20Text%20Mining
* TF-IDK implementation in sklearn: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

## Topic Modeling

One popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics. Particularly, we will use one of the most frequently used TM methods, Latent Dirichlet Allocation (LDA).

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

To start with you probably need to install gensim through conda install -c conda-forge gensimand import a couple modules.

In [36]:
from gensim import matutils, models
import scipy.sparse

/Users/ruoqiwang/opt/anaconda3/lib/python3.9/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

Then we need to transpose the document term matrix to term-document matrix and use sparse.csr_matrix() to compress a matrix that is in rows and prepare the data in genism format and obtain a dictionary id2word of the locations of each term in the tdm.

In [37]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

Once we have the corpus and id2word ready, the rest of the topic modeling is simple: Pass everything to we need to LdaModel() and specify a few other parameters (e.g., the number of topics and the number of passes). Let's start the num_topic at 3, see if the results make sense.

passes is the number of laps the model will take through corpus. The greater the number of passes, the more accurate the model will be. A lot of passes can be slow on a very large corpus.

In [38]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=5, passes=20)
lda.print_topics()

[(0,
  '0.037*"good" + 0.035*"students" + 0.029*"teachers" + 0.019*"teaching" + 0.014*"university" + 0.014*"fine" + 0.012*"student" + 0.012*"knowledge" + 0.011*"delivery" + 0.010*"teacher"'),
 (1,
  '0.052*"course" + 0.040*"books" + 0.035*"library" + 0.031*"courses" + 0.027*"content" + 0.025*"material" + 0.024*"depth" + 0.020*"available" + 0.016*"proper" + 0.015*"best"'),
 (2,
  '0.093*"excellent" + 0.038*"average" + 0.030*"lab" + 0.016*"practical" + 0.015*"work" + 0.014*"ok" + 0.014*"evaluations" + 0.014*"good" + 0.013*"faculty" + 0.012*"knowledge"'),
 (3,
  '0.406*"good" + 0.026*"pattern" + 0.020*"checking" + 0.019*"paper" + 0.016*"exam" + 0.014*"examination" + 0.013*"marks" + 0.011*"distribution" + 0.011*"library" + 0.010*"time"'),
 (4,
  '0.040*"activities" + 0.024*"university" + 0.020*"work" + 0.019*"practical" + 0.019*"extracurricular" + 0.016*"knowledge" + 0.014*"mark" + 0.014*"upto" + 0.013*"yes" + 0.013*"books"')]

Once the topic modeling technique is applied, your job as a human being, who can read natural language, is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics (increase or decrease), the terms in the document-term matrix, model parameters, or even try a different model. This unsupervised approach is quite similar to K-Means clustering.

Now think about two things: (1) does the topic modeling makes sense? If yes, what types of topic it is trying to model? (2) play with the number of topics a little bit and see if you can get a more reasonable result.

In [ ]:
lda2 = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=5, passes=200)
lda2.print_topics()

## Text Classifier

Text classification is one of the most classical problem of NLP. One of the earlier examples using Naive Bayes is identifying spam emails. NLP classifiers are basically no different than all the classifiers we have seen before -- the most challenging part is the algorithm often has to work on a dataset with a lot of features/independent variables (i.e., all the terms in the document-term matrix) while the entries might be limited.

We will first split the dataset into two:

In [ ]:
from sklearn.model_selection import train_test_split

Xs_docs = evalClean['comment']
Ys_evals = evalClean['eval']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

Then we can call the classifier models and feed in the training data and labels. Here we are going to use the classic Naive Bayes algorithm. The only difference here is we are going to import the MultinomialNB because the label has more than two levels.

In [ ]:
from sklearn.naive_bayes import MultinomialNB

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train a multinomial Naive Bayes Model
model = MultinomialNB()
model.fit(features, y_training)

# Prepare the testing xs.
# Here we are using transform and fit_transform to standardize the data.
# Read about the differences here: https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

Not too bad, huh? We have achieved about 80% of accuracy. To compare the result, we can take a look at supported vector machine. The results are quite comparable.

In [ ]:
from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

Remember the labels are quite imbalanced, so resampling (under/oversampling) might worth a trial. Same as topic modeling, you can play with the stop words (what to include and what not to include), stemming, lemmatization, and tagging certain words. Through engineering what goes into the model can impact the model performance substantially.

## End Notes

In this ICE, we have seen some basics about NLP tasks. We’ve only scratched the surface of NLP by visiting some very classical models. Recent NLP has gone much further with neural networks and deep learning, which we don't have room to discuss -- for more NLP with deep learning, CS334 at Stanford by Chris Manning provides a much more thorough discussion and pretty much all the materials are available online.

Your Tasks for ICE 2
For ICE 2, you may want to:
* follow my tutorial and learn the basics of NLP in Python.
* think about what are you going to do with this method (e.g., implications and applications) and learn more about NLP if you need in the near future.
* keep a good record of your ICEs. Save the .ipynb files in a same place. You will need them later.